page-display-list-of-capacity {
    .top{
        width:100%;
        height:20%;
        background-color: #00919E;
        padding:10px;
        position: relative;
        
    }

    .btn{
        text-align: left;
        // margin-top:20px;
        button{
            // font-size: 1.5em;
        }
    }
    h3{
        font-family: 'ZCOOL XiaoWei', serif;
    }
    .infor{
        padding:20px;
    }
   
    .btnCreate{
        text-align: right;
        // margin-top: -20px;
        button{
            background-color: #00919E;
            color: white;
            border: 1px solid white;
        }
    }
    .Bottom{
        height: 90%;
        width:100%;
        position: absolute;
        text-align: center;
        background-color: white;
    }
    .card{
        padding:5px;
        height: 140px;
        font-family: 'ZCOOL XiaoWei', serif;
        button{
            margin-top:-40px;
            margin-left:400px;
            text-align: right;
            background-color: #00919E;
            color:white;
        }
        p{
            text-align: left;
        }
        img{
            height:100px;
            width:100px;
        }
    }
}
