<ion-content class="content">
  <div class="divImage">
    <div class="btn">
      <button clear ion-button (click)="gotoback()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </div>
    <h3><b>Add CSO</b></h3>
    <p>Please complete the form below to register a CSO</p>
  </div>
  <form [formGroup]="authForm" #cso="ngForm" (ngSubmit)="addCso(cso)">
    <div class="list">
      <ion-item  class="item">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input placeholder="Name of Cso" name="name_of_cso" [(ngModel)]="name_of_cso" formControlName="name_of_cso"
          ngModel type="text"></ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>
   
        <ion-select placeholder="Select Mobilisation Method" [(ngModel)]="cso_mobilisation_method_guid" formControlName="cso_mobilisation_method_guid"  ngModel>
          <ion-option *ngFor="let mobi of mobilisationArr" [value]="mobi.guid">{{mobi.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label > <ion-icon name="calendar"></ion-icon></ion-label>
        <ion-datetime displayFormat="MMM DD YYYY"  [(ngModel)]="mobilisation_date" placeholder="Select Mobilisation Date"
          formControlName="mobilisation_date" ngModel required></ion-datetime>
      </ion-item>
          <ion-item class="item">
          <ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-label>
        <ion-input placeholder="Physical_Address" type="text" class="user-input" [(ngModel)]="physical_address"
          formControlName="physical_address" ngModel>
        </ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="cso_type_guid" formControlName="cso_type_guid" ngModel placeholder="Select Mobilisation Date">
          <ion-option *ngFor="let a of csotypeArr" [value]="a.guid">{{a.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="cso_sector_guid" formControlName="cso_sector_guid" ngModel placeholder="Select Cso Type">
          <ion-option *ngFor="let a of csosectorArr" [value]="a.guid">{{a.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>

        <ion-select [(ngModel)]="province_guid" ngModel formControlName="province_guid" required placeholder="Select Province"
          (ionChange)="populateDistrict(province_guid)">
          <ion-option *ngFor="let a of provinceArr" [value]="a.guid">{{a.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>

        <ion-select [(ngModel)]="district_guid" ngModel formControlName="district_guid" required placeholder="Select District"
          (ionChange)="populateMunicipality(district_guid)">
          <ion-option *ngFor="let district of districtArr" [value]="district.guid">{{district.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="logo-dropbox"></ion-icon>
        </ion-label>
     
        <ion-select [(ngModel)]="municipality_guid" required ngModel formControlName="municipality_guid" placeholder="Select Municipality">
          <ion-option *ngFor="let municipality of municipalityArr" [value]="municipality.guid">
            {{municipality.title}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
      <ion-input placeholder="Ward_number" type="number"  [(ngModel)]="ward_number"
        formControlName="ward_number" ngModel>
      </ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="contacts"></ion-icon>
        </ion-label>
      <ion-input placeholder="Contact_Person" type="text"  [(ngModel)]="contact_person"
        formControlName="contact_person" ngModel>
      </ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
      <ion-input placeholder="Contact_Number" type="tel"  [(ngModel)]="contact_number"
        formControlName="contact_number" ngModel>
      </ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="contacts"></ion-icon>
        </ion-label>
      <ion-input placeholder="Total_Staff" type="number"  [(ngModel)]="total_staff"
        formControlName="total_staff" ngModel>
      </ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
      <ion-input placeholder="Email address" [(ngModel)]="email_address" type="text" 
        formControlName="email_address" ngModel></ion-input>
      </ion-item>
      <div class="moveCont">
        <button type="submit" ion-button round class="btnSign" id="anim2" color="secAlert" id="myBtn"
          [disabled]="!authForm.valid">Save</button>
        <button ion-button round class="btnSign" id="anim2" color="secAlert" id="myBtn" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>
</ion-content>