

<ion-content >
  <div class="top">
    <div class="back">
      <button  ion-button  (click)="gotoLanding()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </div>
    <div class="left">
      <button ion-button (click)="registerCSO()" >
        <ion-icon ios="ios-add" md="md-add"></ion-icon>Register CSO
      </button>
    </div>
   
    <div class="search"> 
      <ion-searchbar (input)="getItems($event)" [(ngModel)]="CsoName"></ion-searchbar>
  </div>

  </div>
  <div class="bottom">
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="viewMore(item)">
      {{ item }}
    </ion-item>
  </ion-list>
  <h3 style="text-align: center;">*Manage Mobilisation-CSO <br>Registration</h3>
  <div class="mainInfor">
    <ion-card *ngFor="let a of DisplayCso">
      <div class="card">
        <p><b>CsoName:</b>{{a.cso_name}}</p>
        <p><b>Physical Address:</b>{{a.physical_address}}</p>
        <div class="viewBtn">
          <button ion-button (click)="viewMore(a.nda_registration)">View more
          </button>
        </div>

      </div>
    </ion-card>
  </div>

</ion-content>
