page-display-list-of-assessment {
    .top{
        width:100%;
        height:20%;
        background-color: #00919E;
        padding:10px;
        position: relative;
        
    }

    .btn{
        margin-right:100px;
        color:white;
        button{
            color:white;
            font-size: 1.5em;
        }
    }
    h3{
        font-family: 'ZCOOL XiaoWei', serif;
    }
    .infor{
        padding:20px;
    }
   
    .btnCreate{
     
        button{
            background-color: #00919E;
            color: white;
            text-align: left;
            width:330px;
            border: 1px solid white;
        }
    }
    h3{
        padding:5px;
    }
    .Bottom{
        height: 90%;
        width:100%;
        position: absolute;
        text-align: center;
        background-color: white;
    }
    .card{
        padding-left:5px;
        padding-top:10px;
        height: 150px;
        font-family: 'ZCOOL XiaoWei', serif;
        background-color: whitesmoke;
        button{
            margin-top:-60px;
            margin-left:250px;
            text-align: right;
            background-color: #00919E;
            color:white;
        }
        p{
            text-align: left;
        }
        img{
            height:100px;
            width:100px;
        }
    }
}
