page-display-list-of-assessment {
    .content{
        background-color: #fefefe;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2300919e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }
    .top{
        width:100%;
        height:10%;
        background-color: #00919E;
        padding:10px;
        position: relative;
        
    }

    .btn{
        margin-right:100px;
        color:white;
        button{
            color:white;
            font-size: 1.5em;
        }
    }
    h3{
        font-family: 'ZCOOL XiaoWei', serif;
    }
    .infor{
        padding:20px;
    }
   
    .btnCreate{
        text-align: right;
        button{
            background-color: #00919E;
            color: white;
            margin-top:-40px;
            // text-align: right;
            width:330px;
            border: 1px solid white;
        }
    }
    h3{
        padding:5px;
    }
    .Bottom{
        height: 90%;
        width:100%;
        position: absolute;
        text-align: center;
        background-color: #fefefe;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2300919e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }
    .card{
        padding-left:5px;
        padding-top:10px;
        height: 150px;
        font-family: 'ZCOOL XiaoWei', serif;
        background-color: white;
        border-radius: 10px;
        button{
            margin-top:-60px;
            margin-left:250px;
            text-align: right;
            background-color: #00919E;
            color:white;
        }
        p{
            text-align: left;
        }
        img{
            height:100px;
            width:100px;
        }
    }
}
