<ion-content class="content">
  <div class="nav-bar-search">
    <div class="button-back">
      <button clear ion-button (click)="gotoback()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </div>
    <div class="button-create">
      <button ion-button (click)="createAssessment()">
        Create Assessment
      </button>
    </div>
    <div class="filter-search-input">
      <ion-input placeholder="Filter by Cso Name" (input)="searchForAssessmentByCsoName($event)"></ion-input>
    </div>
  </div>
  <div class="main-content">
    <h1>Manage CSO Assessment Interventions</h1>
    <ion-card *ngFor="let assessment of filteredListOfAssessment">
      <div class="card-list" (click)="viewAssessmentDatials(assessment)">
        <p><b>Cso Name:</b> {{assessment?.cso.name_of_cso}}</p>
        <p><b>Assessment Type:</b> {{assessment?.assessment_type?.title}}</p>
        <p><b>Assessment Completed:</b> {{assessment?.assessment_completed? "Yes" : "No"}}</p>
        <p><b>Assessment Date:</b> {{assessment?.assessment_date}}</p>
        <div class="button-navigate-list">
          <button clear ion-button>
            <ion-icon name="ios-arrow-forward-outline"></ion-icon>
          </button>
        </div>
      </div>
    </ion-card>
    <ion-card *ngIf="filteredListOfAssessment.length == 0">
      <div class="no-content-notification">
        <ion-icon name="warning"><p>NB: There are no results!</p></ion-icon>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <button class="button-footer-home" (click)="goBackToHomePage()"><ion-icon name="home"></ion-icon>&nbsp;Home</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

