.splash {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  // background: #0f3166;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(169deg, rgba(61, 61, 61, 0.06) 0%, rgba(61, 61, 61, 0.06) 50%, rgba(54, 54, 54, 0.06) 50%, rgba(54, 54, 54, 0.06) 100%), linear-gradient(70deg, rgba(64, 64, 64, 0.05) 0%, rgba(64, 64, 64, 0.05) 50%, rgba(178, 178, 178, 0.05) 50%, rgba(178, 178, 178, 0.05) 100%), linear-gradient(212deg, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(177, 177, 177, 0.06) 50%, rgba(177, 177, 177, 0.06) 100%), linear-gradient(83deg, rgba(4, 4, 4, 0.06) 0%, rgba(4, 4, 4, 0.06) 50%, rgba(202, 202, 202, 0.06) 50%, rgba(202, 202, 202, 0.06) 100%), linear-gradient(323deg, rgba(154, 154, 154, 0.01) 0%, rgba(154, 154, 154, 0.01) 50%, rgba(135, 135, 135, 0.01) 50%, rgba(135, 135, 135, 0.01) 100%), linear-gradient(346deg, rgba(41, 41, 41, 0.04) 0%, rgba(41, 41, 41, 0.04) 50%, rgba(190, 190, 190, 0.04) 50%, rgba(190, 190, 190, 0.04) 100%), linear-gradient(257deg, rgba(177, 177, 177, 0.04) 0%, rgba(177, 177, 177, 0.04) 50%, rgba(239, 239, 239, 0.04) 50%, rgba(239, 239, 239, 0.04) 100%),
  linear-gradient(135deg, #DAA520, rgb(4, 86, 93), #00919E);
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


/**
Structure layout
Start
 */
.nav-bar {
  width: 100%;
  height: 10%;
  background-color: #00919E;
  padding: 10px;
}

.nav-bar-search {
  width: 100%;
  height: 15%;
  background-color: #00919E;
  padding: 10px;
}

.button-back {
  text-align: left;
}

.button-create {
  text-align: right;
  margin-top: -40px;
}

.button-back button {
  font-size: 1.5em;
  color: white;
}

.button-navigate-list {
  text-align: right;
  margin-top: -20px;
}

.button-navigate-list button {
  font-size: 1.5em;
  color: white;
}

.main-content {
  height: 90%;
  width: 100%;
  text-align: center;
}

/**
Content Structure layout
 */



.card-list {
  padding: 10px;
  border-radius: 10px;
  button {
    margin-top: -50px;
    justify-content: left;
    color: #00919E;
  }

  p {
    text-align: left;
  }
}

.card-profile-view{
  margin:5% auto 0;
  width:80%;
  height:100%;
  background-color: #F9F9F9;
  padding-left:30px;
}

.card-profile-view-icon{
   display: block;
   margin: 0 auto;
 }

.card-profile-view-icon img{
  width: 10%;
  height: 10%;
}

/**
 Form structure
 */
.card-form {
  margin:5% auto 0;
  width:80%;
  height:90%;
  padding-left:30px;
}

.input-field {
  padding-left: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.input-select {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.input-submit{
  width: 100%;
  margin: auto;
}

.error-occurred ion-item {
  color: #ff005e;
  font-weight: bold;
}

.form-fields-required{
  color: #ff005e;
  margin-bottom: 20px;
}

.field-error {
  font-size: small;
  color: #ff005e;
  margin-top: -8px;
}

.field-error p {
  padding-left: 10px;
  text-align: left;
}

.input-error {
  border-bottom: 1px solid #ff005e;
}

.filter-search-input {
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #ffffff;
}


.no-content-notification{

}
