<ion-content class="content">
  <div class="nav-bar">
    <div class="button-back">
      <button clear ion-button (click)="goBack()">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </button>
    </div>
    <div class="button-create">
      <button ion-button (click)="redirectToMemberList()">
         Manage CSO Members
      </button>
    </div>
  </div>
  <div class="main-content">
    <h3>Add CSO Member</h3>
    <div class="cso-name">{{cso?.name_of_cso}} </div>
    <div class="form-fields-required">All fields required.</div>
    <div class="card-form">
      <form [formGroup]="memberForm" (ngSubmit)="formSubmit()">

        <div class="input-select">
          <ion-item>
            <ion-label> Select Nationality</ion-label>
            <ion-select formControlName="nationality" (ionChange)="showPassportField = !showPassportField">
              <ion-option value="South African">South African</ion-option>
              <ion-option value="Other">Other</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="input-field">
          <ion-input
            type="number"
            *ngIf="!showPassportField"
            formControlName="rsa_id_number"
            placeholder="RSA Identification number">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('rsa_id_number')">
            <p>Please provide a valid South African identification number</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="Passport number"
            type="text"
            *ngIf="showPassportField"
            formControlName="passport_number">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('passport_number')">
            <p>Please provide passport number</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="First name"
            type="text"
            formControlName="first_name">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('first_name')">
            <p>Please provide a valid first Name</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="Surname"
            type="text"
            formControlName="last_name">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('last_name')">
            <p>Please provide a valid surname</p>
          </div>
        </div>

        <ion-item class="input-select">
          <ion-label> Select Gender</ion-label>
          <ion-select formControlName="gender">
            <ion-option value="Female">Female</ion-option>
            <ion-option value="Male">Male</ion-option>
          </ion-select>
        </ion-item>


        <ion-item class="input-select">
          <ion-label> Select Race</ion-label>
          <ion-select formControlName="race">
            <ion-option value="African">African</ion-option>
            <ion-option value="Colored">Colored</ion-option>
            <ion-option value="Indian">Indian</ion-option>
            <ion-option value="White">White</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label> Select Disability</ion-label>
          <ion-select formControlName="disability">
            <ion-option value="Yes">Yes</ion-option>
            <ion-option value="No">No</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label> Select Member Position</ion-label>
          <ion-select formControlName="member_position_guid">
            <ion-option value="f4ae0529-9dbd-4cb0-a0c6-80009266d500">Trustee</ion-option>
            <ion-option value="71f9d7f2-98e1-4340-a7ab-5849aba6da36">Management</ion-option>
            <ion-option value="ed86472d-662e-4ab2-809b-75e225d5092e">General Monitor</ion-option>
            <ion-option value="bed94bd7-3500-428e-9424-b2b7a9f47c73">Baord Monitor</ion-option>
            <ion-option value="3f9c2102-5459-40d9-869b-7237fbd1d60a">Other</ion-option>
          </ion-select>
        </ion-item>

        <div class="input-field">
          <ion-input
            placeholder="Contact number"
            type="number"
            formControlName="contact_number">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('contact_number')">
            <p>Please provide a valid contact number</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="Physical address"
            type="text"
            formControlName="physical_address">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('physical_address')">
            <p>Please provide a valid physical address</p>
          </div>
        </div>

        <ion-item class="input-select">
          <ion-label> Membership start date</ion-label>
          <ion-datetime  class="input-field" formControlName="start_date"></ion-datetime>
        </ion-item>

        <ion-item class="input-select">
          <ion-label> Membership end date</ion-label>
          <ion-datetime  class="input-field" formControlName="end_date"></ion-datetime>
        </ion-item>

        <button type="submit" class="input-submit" ion-button [disabled]="!memberForm.valid">Submit</button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <button class="button-footer-home" (click)="goBackToHomePage()"><ion-icon name="home"></ion-icon>&nbsp;Home</button>
      <button class="button-footer-home" style="float: right" (click)="logout()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>&nbsp;Logout
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

