<ion-content class="content">
    <div class="btn">
      <button clear  ion-button (click)="goBackToCapacityBuildingList()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
  </div>
    <p>Add Capacity Building</p>
  <form #capacity="ngForm"  (ngSubmit)="addCapacity(capacity)"> 
        <ion-input placeholder="Name Of Cso" [(ngModel)]="cso_name" ngModel  name="cso_name"   type="text" class="user-input" id="anim1"
        ></ion-input>

        <div id="results">
          <ion-item no-lines *ngFor="let item of items; let i=index" (click)="openMarkerInfo(item)">
            <p>{{item}}</p>
          </ion-item>
        </div>


        <ion-item id="item">
          <ion-label> Select Capacity Building Type</ion-label>
          <ion-select [(ngModel)]="capacity_building_type_id"  required name="capacity_building_type_id" ngModel>
            <ion-option *ngFor="let a of capacityArr" [value]="a.id">{{a.capacity_building_type_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select Province</ion-label>
          <ion-select  [(ngModel)]="province_id" ngModel name="province_id" required  (ionChange)="populateDistrict(province_id)">
            <ion-option *ngFor="let a of provinceArr" [value]="a.id">{{a.province_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select District</ion-label>
          <ion-select [(ngModel)]="district_id" ngModel name="district_id" required (ionChange)="populateMunicipality(district_id)">
            <ion-option *ngFor="let district of districtArr" [value]="district.id">{{district.district_name}}
            </ion-option>
          </ion-select>
        </ion-item>
    

        <ion-item id="item">
          <ion-label> Select Municipality</ion-label>
          <ion-select [(ngModel)]="municipality_id" required ngModel name="municipality_id">
            <ion-option *ngFor="let municipality of municipalityArr" [value]="municipality.id">
              {{municipality.municipality_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select Partner</ion-label>
          <ion-select [(ngModel)]="partner_id" ngModel name="partner_id" >
            <ion-option *ngFor="let district of partnerArr" [value]="district.id">
              {{district.partner_type_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-input placeholder="Venue" type="text" class="user-input" name="venue" [(ngModel)]="venue" id="anim1" ngModel ></ion-input>

      
        <ion-input placeholder="Facilitor Name" type="text" class="user-input" name="facilitator_name" [(ngModel)]="facilitator_name"
          id="anim1" ngModel>
        </ion-input>

        <ion-input placeholder="Funding Source" type="text" class="user-input"  name="funding_source_id"  [(ngModel)]="funding_source_id"
          id="anim1" ngModel></ion-input>

        <ion-input placeholder="Colllected by" type="text" class="user-input" name="collected_by" [(ngModel)]="collected_by" id="anim1" ngModel>
        </ion-input>

        <div class="Contacts">
          <ion-label>Start date</ion-label>
          <!-- <input type="date" id="input-field" required [(ngModel)]="start_date" name="start_date" ngModel> -->
          <ion-item>
            <ion-label>MM DD YY</ion-label>
            <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" required [(ngModel)]="start_date" name="start_date" ngModel></ion-datetime>
          </ion-item>
          <br>
          <ion-label>End date</ion-label>
          <!-- <input type="date" id="input-field"  required name="end_date" [(ngModel)]="end_date" ngModel> -->
          <ion-item>
            <ion-label>MM DD YY</ion-label>
            <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" name="end_date" [(ngModel)]="end_date" ngModel></ion-datetime>
          </ion-item>
        </div>
    
        <div class="moveCont">
          <button  type="submit"  ion-button round class="btnSign" id="anim2">Rgister
            A Member</button>
        </div>
      </form>

</ion-content>
