<ion-content class="content">
  <div class="divImage">
    <p>Add Capacity Building</p>
  </div>
  
        <ion-input placeholder="Name_of_Cso" [(ngModel)]="name_of_cso" type="text" class="user-input" id="anim1"
          (input)="getItems($event)"></ion-input>

        <div id="results">
          <ion-item no-lines *ngFor="let item of items; let i=index" (click)="openMarkerInfo(item)">
            <p>{{item}}</p>
          </ion-item>
        </div>


        <ion-item id="item">
          <ion-label> Select Capacity Building Type</ion-label>
          <ion-select [(ngModel)]="capacity_building_type_id">
            <ion-option value="1">Training Governance</ion-option>
            <ion-option value="2">Training Conflict Management</ion-option>
            <ion-option value="3">Training Financial Management</ion-option>
            <ion-option value="4">Training Project Management</ion-option>
            <ion-option value="5">Training Resource Mobilisation</ion-option>
            <ion-option value="6 ">Training Mentoring Support</ion-option>
            <ion-option value="7">Training Legislation Compliance</ion-option>
            <ion-option value="8">Training Community Development Practice</ion-option>
            <ion-option value="9">Training Organisational Development</ion-option>
            <ion-option value="10">Mentoring Governance</ion-option>
            <ion-option value="11">Incubation</ion-option>
            <ion-option value="12">Mentoring Conflict Managment</ion-option>
            <ion-option value="13">Mentoring Financial Managment</ion-option>
            <ion-option value="14">Mentoring Project Managment</ion-option>
            <ion-option value="15">Mentoring Resource Mobilisation </ion-option>
            <ion-option value="16">Mentoring Legislation Compliance </ion-option>
            <ion-option value="17">Mentoring Community Development Pratice </ion-option>
            <ion-option value="18">Mentoring Organisational Development </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select Province</ion-label>
          <ion-select (ionChange)="getDistrictFilter()" [(ngModel)]="province_id">
            <ion-option *ngFor="let a of disDistrict" [value]="a.id">{{a.province_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select District</ion-label>
          <ion-select (ionChange)="getMunicipality()" [(ngModel)]="district_id">
            <ion-option *ngFor="let district of disDistrict2" [value]="district.id">{{district.district_name}}
            </ion-option>
          </ion-select>
        </ion-item>
    

        <ion-item id="item">
          <ion-label> Select Municipality</ion-label>
          <ion-select [(ngModel)]="municipality_id">
            <ion-option *ngFor="let district of disDistrict3" [value]="district.id">
              {{district.municipality_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item id="item">
          <ion-label> Select Partner</ion-label>
          <ion-select [(ngModel)]="partner_id">
            <ion-option value="1">Funder</ion-option>
            <ion-option value="2">Service Provider</ion-option>
            <ion-option value="3">Referral Institution</ion-option>
            <ion-option value="4">Government</ion-option>
            <ion-option value="5">Business</ion-option>
            <ion-option value="6">Non-profit making</ion-option>
            <ion-option value="7">Individuals</ion-option>
            <ion-option value="8">International</ion-option>
          </ion-select>
        </ion-item>

        <ion-input placeholder="Venue" type="text" class="user-input" [(ngModel)]="venue" id="anim1"></ion-input>

      
        <ion-input placeholder="Facilitor Name" type="text" class="user-input" [(ngModel)]="facilitator_name"
          id="anim1">
        </ion-input>

        <ion-input placeholder="Funding Source" type="text" class="user-input" [(ngModel)]="Funding_source_id"
          id="anim1"></ion-input>

        <ion-input placeholder="Colllected by" type="text" class="user-input" [(ngModel)]="Collected" id="anim1">
        </ion-input>

        <div class="Contacts">
          <ion-label>Start date</ion-label>
          <input type="date" id="input-field" [(ngModel)]="start_date">
          <br>
          <ion-label>End date</ion-label>
          <input type="date" id="input-field" (click)="disableData()" name="txtDate" [(ngModel)]="end_date">
        </div>
    
        <div class="moveCont">
          <button ion-button round class="btnSign" id="anim2" (click)="addCapacity()">Rgister
            A Member</button>
        </div>

</ion-content>
