<ion-content class="content">
  <div class="nav-bar-search">
    <div class="button-back">
      <button clear ion-button (click)="redirectToCapacityBuildingList()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </div>
    <div class="filter-search-input">
      <ion-input placeholder="Filter by name"  (input)="searchForCso($event)" ></ion-input>
    </div>
  </div>
  <div class="main-content">
    <h1 *ngIf="showCsoList">Select CSO to add event</h1>
    <div *ngIf="showCsoList">
      <ion-card *ngFor="let cso of filteredListOfCsoes">
        <div class="card-list" (click)="selectCSO(cso)">
          <p><b>Name:</b> {{cso?.name_of_cso}}</p>
          <p><b>Sector:</b> {{cso?.cso_sector.title}}</p>
          <p><b>Type:</b> {{cso?.cso_type.title}}</p>
          <p><b>Municipality:</b> {{cso?.municipality.title}}</p>
          <div class="button-navigate-list">
            <button clear ion-button>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </button>
          </div>
        </div>
      </ion-card>
      <ion-card *ngIf="filteredListOfCsoes.length == 0" >
        <div class="no-content-notification">
          <ion-icon name="warning"><p>NB: There are no results!</p></ion-icon>
        </div>
      </ion-card>
    </div>



    <h3 *ngIf="!showCsoList">Add Capacity building event</h3>
    <div *ngIf="!showCsoList" class="form-fields-required">All fields required.</div>
    <div *ngIf="!showCsoList" class="card-form">
      <form [formGroup]="capacityBuildingForm" (ngSubmit)="formSubmit()">

        <ion-item class="input-select">
          <ion-label>Type</ion-label>
          <ion-select formControlName="capacity_building_type">
            <ion-option *ngFor="let type of listLookupCapacityBuildingType" [value]="type.guid">{{type.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label>Funding source</ion-label>
          <ion-select formControlName="funding_source">
            <ion-option *ngFor="let funding of listLookupFundingSource" [value]="funding.guid">{{funding.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label>Partner Type</ion-label>
          <ion-select formControlName="partner_type"  (ionChange)="onchangePartnerType()">
            <ion-option *ngFor="let type of listLookupPartnerType" [value]="type.guid">{{type.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label>Partner</ion-label>
          <ion-select formControlName="partner" [disabled]="disablePartnerDropdown">
            <ion-option *ngFor="let partner of listFilteredLookupPartner" [value]="partner.guid">{{partner.title}}</ion-option>
          </ion-select>
        </ion-item>

        <div class="input-field">
          <ion-input
            placeholder="Facilitator name"
            type="text"
            formControlName="facilitator_name">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('facilitator_name')">
            <p>Please provide a valid facilitator name.</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="Co Facilitator name"
            type="text"
            formControlName="co_facilitator_name">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('co_facilitator_name')">
            <p>Please provide a valid Co facilitator name.</p>
          </div>
        </div>

        <div class="input-field">
          <ion-input
            placeholder="Venue"
            type="text"
            formControlName="venue">
          </ion-input>
          <div class="field-error" *ngIf="_isInvalidControl('venue')">
            <p>Please provide a valid venue name.</p>
          </div>
        </div>

        <ion-item class="input-select">
          <ion-label>Province</ion-label>
          <ion-select formControlName="province" (ionChange)="onchangeProvince()" >
            <ion-option *ngFor="let province of listLookupProvince" [value]="province.guid">{{province.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label>District</ion-label>
          <ion-select formControlName="district" [disabled]="disableDistrictDropdown" (ionChange)="onchangeDistrict()">
            <ion-option *ngFor="let district of listFilteredLookupDistrict" [value]="district.guid">{{district.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label>Municipality</ion-label>
          <ion-select formControlName="municipality" [disabled]="disableMunicipalityDropdown">
            <ion-option *ngFor="let municipality of listFilteredLookupMunicipality" [value]="municipality.guid">{{municipality.title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-select">
          <ion-label> Event start date</ion-label>
          <ion-datetime  class="input-field" formControlName="start_date"></ion-datetime>
        </ion-item>

        <ion-item class="input-select">
          <ion-label> Event end date</ion-label>
          <ion-datetime  class="input-field" formControlName="end_date"></ion-datetime>
        </ion-item>

        <button type="submit" class="input-submit" ion-button [disabled]="!capacityBuildingForm.valid">Submit</button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <button class="button-footer-home" (click)="goBackToHomePage()"><ion-icon name="home"></ion-icon>&nbsp;Home</button>
      <button class="button-footer-home" style="float: right" (click)="logout()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>&nbsp;Logout
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
