<ion-content class="content">
  <div class="btn">
    <button  ion-button  (click)="gotoback()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
  </div>
  <h3>Add Assessment</h3>
 <form #assessment="ngForm"  (ngSubmit)="addAssessment(assessment)"> 
    <ion-input placeholder="Name Of Cso" [(ngModel)]="cso_name"  name="cso_name"  type="text" class="user-input" id="anim1"
    (input)="getItems($event)" ngModel ></ion-input>

      <div id="results">
        <ion-item no-lines *ngFor="let item of items; let i=index" for="site-search" (click)="openMarkerInfo(item,assessment)">
          <p>{{item.cso_name}}</p>
        </ion-item>
      </div>


      <div class="Contacts">
        <ion-label>Assessment Date</ion-label>
        <ion-item>
          <ion-label>MM DD YY</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" placeholder="Select Date" required [(ngModel)]="assessment_date"
            name="assessment_date" ngModel></ion-datetime>
        </ion-item>
        <br>
      </div>


      <ion-item id="item">
        <ion-label> Assessment Type</ion-label>
        <ion-select [(ngModel)]="assessment_type_id" (ionChange)="AssessmentQuestions()" name="assessment_type_id" ngModel>
          <ion-option value="1">CSO Mobilisation Needs Assessment Form</ion-option>
          <ion-option value="2" disabled>Formalisation Needs Assessment</ion-option>
          <ion-option value="3" disabled>Registration and Compliance</ion-option>
          <ion-option value="4" disabled>Community Development</ion-option>
          <ion-option value="5" disabled>Workplace Conflict</ion-option>
          <ion-option value="6" disabled>Financial Management Needs Assessment
          </ion-option>
          <ion-option value="7" disabled>Capacity Building Governanace Needs
            Assessment</ion-option>
          <ion-option value="8" disabled>Capacity Building
            Legislative
            Registration and Governanace</ion-option>
          <ion-option value="9" disabled>Organisational Management and Human
            Resource Nedds</ion-option>
          <ion-option value="10" disabled>Project Management Needs</ion-option>
          <ion-option value="11" disabled>Resource Mobilisation and Sustainability
          </ion-option>
          <ion-option value="12" disabled>Networking and External Relations</ion-option>
          <ion-option value="13" disabled>Grant Funding and Resource Needs</ion-option>
          <ion-option value="14" disabled>Linkage for Sustainability Needs</ion-option>
        </ion-select>
      </ion-item>

  <div id="placeholderDiv" *ngIf="showQuestions">
    <div class="Qcard">
     
          <h2>Section One</h2>
          <b>Institutional Arrangement</b>
          <div *ngFor="let assessmentAnswer of assessmentAnswerArr ; let i = index">
            <p>{{i+1}}.{{assessmentAnswer.question}}</p>
            <ion-list radio-group>
              <ion-item id="item2" *ngFor="let answers of assessmentAnswer.answerlist ; let j = index">
                <ion-label id="label">{{answers.answer}}</ion-label>
                <ion-radio (ionSelect)="selectRad(answers)" value="{{answers.id}}"></ion-radio>
              </ion-item>
            </ion-list>
          </div>
          <div class="moveCont">
            <button ion-button id="btn" type="submit">Add Assessment</button>
          </div>
    </div>
  </div>
  </form>
</ion-content>