page-display-cso-member-list {
    .content{
        background-color: #fefefe;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2300919e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }
    .top{
        width:100%;
        height:10%;
        background-color: #00919E;
        padding:10px;
        // position: relative;
        
    }

  
    .infor{
        padding:20px;
    }
   
    .btnCreate{
        text-align: right;
        margin-top: -40px;
        button{
            // background-color: #00919E;
            color: white;
            border: 1px solid white;
        }
    }
    .btn{
        text-align: left;
        button{
            font-size: 1.4em;
            color:white;
        }
    }
    .Bottom{
        height: 90%;
        width:100%;
        position: absolute;
        text-align: center;
        background-color: #fefefe;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2300919e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }
    .card{
        padding:5px;
        height: 110px;
        font-family: 'ZCOOL XiaoWei', serif;
        border-radius: 10px;
        // box-shadow: 6px 15px 15px  rgba(17, 16, 16, 0.163);
        button{
            margin-top:-70px;
            justify-content: left;
            // background-color: #00919E;
            color:#00919E;
        }
        p{
            text-align: left;
        }
    }
    h3{
        font-family: 'ZCOOL XiaoWei', serif;
    }
}
